.About {
    background: linear-gradient(135deg, rgba(4, 248, 106, 1) 0%, rgba(1, 127, 177, .8) 39%, rgba(1, 127, 177, 0.8) 68%, rgba(4, 248, 106, 1) 100%);
    /* display: flex; */
    min-height: 100vh;
    /* overflow-y: hidden; */
    /* padding-top: 80px; */
    position: relative;

}

.About .Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Text {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
}

/* .About .Container .Text {
    color: white;
    width: 47%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
} */
/* .About .Container .SecondText {
    color: white;
    width: 200%;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 2%;
}
.About .Container .AboutParagraph {
    color: white;
    width: 200%;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 2%;
} */

.About .Container .Text h2 {
    font-weight: 900;
}

.ProfilePic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    border-radius: 350px;
    /* padding-left: 60px; */
}

.FamilyPic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    border-radius: 350px;
    padding-right: 60px;
}

.VegasPic {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 600px;
    border-radius: 350px;
    /* padding-left: 200px; */
}

.EndStatement {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    text-align: center;

}

.EndStatement .WorldContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding-left: 50px;
}

.EndStatement p{
    width: 50%;
    margin: 0;
    font-size: calc(1.2rem + 2vw);
    width: 100%
    /* padding-bottom: 5%;
    padding-left: 2%; */
}

/* .AboutMe .Container .Photo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50%;
    
}

.AboutMe .Container .Photo .Me {
    width: 90%;
    max-width: 500px;
    border-radius: 10%;
    margin-right: 5px;
} */

@media (max-width: 500px){

    .About .Container{
        flex-direction: column;
        align-items: center;
        
    }
    
    .About .Container .Text {
        color: white;
        width: 80%;
        margin-left: 3%;
        margin-right: 3%;
    }
}


/*.Home {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 39%, rgba(255, 0, 134, 1) 100%);
    display: flex;
    height: 100vh;
    padding-top: 80px;
    position: relative;
}

.Home .Container {
    position: absolute;
    top: 15%;
    left: 2%;
    color: white;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: start; 
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.Home .Container .Welcome {
    left: 2%;
    font-size: calc(1.7rem + 3vw);
}

.Home .Container h1 {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    margin: 0;
}

.Home .Container p {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    font-size: calc(1.7rem + 3vw);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Home .Container .img {
    height: 600px;
    border-radius: 50px;
}
*/
