.adventureCard {
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 400px;
    position: relative;
    transform-style: preserve-3d;
    height: 100%;
}

.innerCard {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50px;
}

.cardFront {
    transform: rotateY(0deg);
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 1; 
    position: relative;
    background-size: cover;
    background-position: center;
}

.cardContent {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10%;
}

.cardContentInner {
    color: #000;
    text-align: center;
}

.cardFront .cardContent {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    color: #fff;
  }

.cardFront .cardContent h3 {
    margin: 0;
    font-size: 1.5rem;
}
  
.cardFront .cardContent p {
    margin: 0;
    font-size: 1rem;
}
  
.cardBack {
    transform: rotateY(180deg);
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); */
}

.cardBackShadow {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); */
}

.cardLink {
    /* flex: 0 0 400px;  */
    /* margin-right: 20px;  */
    display: flex;
    position: relative;
    /* top: 0; */
    width: 100%;
    /* height: 100%; */
    /* margin-bottom: 60px; */
    justify-content: center; 
    align-items: center;
    height: 400px;
  }
  

@media (max-width: 500px) {
    .adventureCard {
        flex-direction: column;
        align-items: center;
    }
}