.Adventures {
    background: linear-gradient(90deg, rgba(5, 130, 247, 1) 0%, rgba(18, 197, 241, .8) 39%, rgba(40, 243, 199, 6) 100%);
    height: 100vh;
}

/* .AdventuresContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
    padding-bottom: 20px;
    margin: 0 auto; 
    max-width: 1400px;
} */

/* .adventureCard {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    position: relative;
    transform-style: preserve-3d;
} */

/* .adventureCardContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    justify-content: center;
    gap: 100px;
    width: fit-content; 
    margin: 0 auto;
    max-width: 1400px;
    padding-bottom: 20px;
    height: 1000px;
  } */

  .adventureCard:last-child {
    margin-right: 0;
  }
